.container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.datahora {
    font-size: x-small;
}

.button {
    font-size: 0.9rem;
    border: none;
    color: #ff0000;
    background-color: transparent;
    top: 11px;
    left: 252px;
    position: absolute;

}

.button:hover {
    font-size: 1rem;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    border-radius: 10%;
}

.button:hover {
    background-color: rgba(128, 128, 128, 0.119);
}

.card-text {
    border: 0.5px solid rgba(0, 0, 0, 0.229);
    border-radius: 3px;
}

.card-title {
    border: none;
    font-weight: bold;
    background-color: transparent !important;
}

.card {
    margin: 1em;
}

#maismais {
    font-size: x-large;
}

@media(max-width: 960px) {
    .container {
        grid-template-columns: auto auto;
    }
}

@media(max-width: 720px) {
    .container {
        grid-template-columns: auto;
    }


}